<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post">
            Username:
            <input type="text" name="username" required>
            Password:
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
